<div>
  <div class="table">
    <table>

      <thead>
      <tr>
        <th *ngFor="let item of inputColumn">{{item.name}}</th>
      </tr>
      </thead>

      <!--<tbody>-->
      <!--<tr *ngFor="let item of orders | paginate: {itemsPerPage:12, currentPage: p}" routerLink="/detail/{{item.id}}">-->
      <!--<td>{{item.id}}</td>-->
      <!--<td>-->
      <!--<div *ngIf="item.status==='Open'; else blockClosed">-->
      <!--<span>{{item.status}}</span>-->
      <!--</div>-->
      <!--<ng-template #blockClosed><span class="table__status_red">{{item.status}}</span></ng-template>-->
      <!--</td>-->
      <!--<td>{{item.createdWhen}}</td>-->
      <!--<td>-->
      <!--<div class="tooltip">{{item.comments | slice:0:60}}-->
      <!--<span class="tooltiptext">{{item.comments}}</span>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->

      <tbody>
      <tr *ngFor="let item of orders | paginate: {itemsPerPage:12, currentPage: p} " >
        <!--routerLink="/detail/{{item.id}}"-->
        <td *ngFor="let ttt of inputColumn"  routerLink="/detail/{{item.id}}">
          <div *ngIf="item[ttt.id]; else dynamicTemplate"  >{{item[ttt.id] }}</div>

          <div *ngIf="ttt.comments==='Comments'; else blockClosed2">
            <div class="tooltip">{{item.comments | slice:0:60}}
              <span class="tooltiptext">{{item.comments}}</span>
            </div>
            <ng-template #blockClosed2><span> </span></ng-template>
          </div>

          <div *ngIf="ttt.name==='Status'">
          <div *ngIf="item.status==='Open'; else blockClosed">
          <span class="table__status_green">{{item.status}}</span>
          </div>
          <ng-template #blockClosed><span class="table__status_red">{{item.status}}</span></ng-template>
          </div>



        </td>
        <ng-template #dynamicTemplate [ngTemplateOutlet]="dynamicColumn"> </ng-template>
      </tr>
      </tbody>

    </table>

  </div>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>

<!--| paginate: {itemsPerPage:12, currentPage: p}" routerLink="/detail/{{item.id}}-->
