<div>
  <div class="table">
    <table>

      <thead>
      <tr>
        <th *ngFor="let item of inputColumn">{{item.name}}</th>
      </tr>
      </thead>

      <!--<tbody>-->
      <!--<tr *ngFor="let item of orders | paginate: {itemsPerPage:12, currentPage: p}" routerLink="/detail/{{item.id}}">-->
      <!--<td>{{item.id}}</td>-->
      <!--<td>-->
      <!--<div *ngIf="item.status==='Open'; else blockClosed">-->
      <!--<span>{{item.status}}</span>-->
      <!--</div>-->
      <!--<ng-template #blockClosed><span class="table__status_red">{{item.status}}</span></ng-template>-->
      <!--</td>-->
      <!--<td>{{item.createdWhen}}</td>-->
      <!--<td>-->
      <!--<div class="tooltip">{{item.comments | slice:0:60}}-->
      <!--<span class="tooltiptext">{{item.comments}}</span>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->

      <tbody>
      <tr *ngFor="let item of orders | paginate: {itemsPerPage:12, currentPage:  p} " routerLink="/detail/{{item.id}}">

        <td *ngFor="let cell of inputColumn">
          <div *ngIf="item[cell.id]">
            <div *ngIf="item.status==='Open'; else blockColor"><span class="table__status_green"> </span>
              {{item[cell.id] }}
            </div>
            <ng-template #blockColor><span class="table__status_red"> {{ item[cell.id]}} </span></ng-template>
          </div>


          <!--<div *ngIf="!item[cell.id] && _columnsPlus[0].name">-->
          <!--<ng-template [ngTemplateOutlet]="dynamicColumns"></ng-template>-->
          <!--</div>-->

          <div *ngFor="let kkk of dynamicColumns">
            <div *ngIf="!item[cell.id] && cell.name===kkk.name">
              <ng-template [ngTemplateOutlet]="kkk.template"></ng-template>
            </div>
          </div>

          <!--<div *ngIf="!item[cell.id] && cell.name===ordersService._columnsPlus[6].name">-->
          <!--<ng-template [ngTemplateOutlet]="dynamicColumns2"></ng-template>-->
          <!--</div>-->


          <!--<div *ngIf="!item[cell.id] && cell.name==='button'">-->
          <!--<ng-template [ngTemplateOutlet]="dynamicColumns">-->
          <!--</ng-template>-->
          <!--</div>-->
          <!--<div *ngIf="!item[cell.id] && cell.name==='button2'">-->
          <!--<ng-template [ngTemplateOutlet]="dynamicColumns2">-->
          <!--</ng-template>-->
          <!--</div>-->


        </td>
      </tr>
      </tbody>

    </table>
    <!--<app-admin-orders-list [myStr]="myStr">{{myStr}}</app-admin-orders-list>-->
  </div>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>


