<div >
  <div class="table">

    <table class="table table-striped">

      <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Created When</th>
        <th>Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mass | paginate: {itemsPerPage:12, currentPage: p}">
        <td class="table-striped_col1">{{item.id}}</td>
        <td class="table-striped_col2">
          <div *ngIf="item.status==='Open'; else blockClosed">
            <span class="table__status_green">{{item.status}}</span>
          </div>
          <ng-template #blockClosed><span class="table__status_red">{{item.status}}</span></ng-template>
        </td>
        <td class="table-striped_col3">{{item.createdWhen}}</td>
        <td class="table-striped_col4">
          <div class="tooltip">{{item.comments | slice:0:60}}
            <span class="tooltiptext">{{item.comments}}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>
