<div class="order-detail">
  <div *ngIf="order">
    <h5>{{order.name | uppercase}} Details</h5>
    <div><span>Id: </span>{{order.id}}</div>
    <div><span>Status: </span>{{order.status}}</div>
    <div><span>Created When: </span>{{order.createdWhen}}</div>
    <div><span>Comments: </span>{{order.comments}}</div>
    <div><span>Assigned: </span>{{order.assigned}}</div>
    <button (click)="goBack()"><img src="https://cdn3.iconfinder.com/data/icons/glyph/227/Button-Back-1-512.png" width="16" height="" /> go back</button>
  </div>
</div>
