body {
  font: 14px 'Verdana';
  margin: 0;
  padding: 0;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
ul.menu > li {
  float: left;
  position: relative;
}
ul.menu > li > a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #607D8B;
  text-decoration: none;
}
ul.menu > li > a:hover {
  background-color: black;
}
ul.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 0;
  left: -120px;
  background-color: white;
  border: 1px solid #607D8B;
}
ul.submenu > li {
  display: block;
}
ul.submenu > li > a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #607D8B;
  text-decoration: none;
}
ul.submenu > li > a:hover {
  text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
  display: block;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
