<div>ADMIN Orders Page</div>
<app-orders-list
  [inputColumn]="_columnsPlus"
  [orders]="_ordersList"
  [dynamicColumns]="_columnTemplate"
>

</app-orders-list>

<ng-template #dynamicButton>
  <ul class="menu">
    <li><a href=#>Assign #1</a>
      <ul class="submenu">
        <li *ngFor="let user of usersList"
            (click)="_orderUpdate(user)">
          {{user.userName | uppercase}}
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<ng-template #dynamicButton2>
  <ul class="menu">
    <li><a href=#>Assign #2</a>
      <ul class="submenu">
        <li *ngFor="let user of usersList"
            (click)="_orderUpdate(user)">
          {{user.userName | uppercase}}
        </li>
      </ul>
    </li>
  </ul>
</ng-template>
